/* Caractéristique de la page et contenu général */

body{
    margin: 5px;
    background-color:#00a3e4;
}
a {
    text-decoration: none;
    outline-style:none;
}
li {
    list-style: none;
}

/* Création de la navigation top */

#nav-top {
    background-color: white;
    border-bottom: solid 6px;
    border-bottom-color:#00a3e4;
    display: block;
    padding-bottom:0;
    font-family: 'Mansalva', cursive;
}

#nav-top img{
    display:block;
    margin-right: auto;
    margin-left: auto;
}
.menu-top {
    display:flex;
    justify-content: center; 
    margin-top:0;
    margin-bottom:0;
} 
.menu-top a {
    color:black;    
    display:block;
    font-size: 22px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
    margin-top:5px;
}
.menu-top a:hover{
    color: #00a3e4;
}

/* Bloc image avec citation */

#Bloc-1 {
    height:500px;
    position: relative;
    text-align: center;
}

#Bloc-1 img {
    height: 500px;
    width:100%;
    border-top:solid 1px black;
}

/* Mise en place du texte sur l'image */
.center {
    position: absolute;
    top:30%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
    font-size:36px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}

/* Bloc avec les trois blocs de texte*/

#Bloc-2 {
    background-color:#2f2d2e;
    color:white;
    padding-top: 60px;
    padding-bottom: 60px;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
    font-family: 'Roboto', sans-serif;
}
/* Création des différents blocs de texte */

#Bloc-2 .item1{
    background-color:#dd532f;
    margin-left: 150px;
    width:250px;
    padding-left:15px;
    padding-right:15px;
    text-align: center;
}
#Bloc-2 .item2 {
    background-color:#608f27;
    width: 250px;
    padding-left:15px;
    padding-right:15px;
    text-align:center;
}
#Bloc-2 .item3 {
    background-color:#0192d5;
    margin-right: 150px;
    width:250px;
    padding-left:15px;
    padding-right:15px;
    text-align: center;
}
/* Animation des blocs de texte quand survol */
/* Pour chaque items la même animation (plus rapide si moins de classe*/

#Bloc-2 .item1 {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#Bloc-2 .item1:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#Bloc-2 .item2 {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#Bloc-2 .item2:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
#Bloc-2 .item3 {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#Bloc-2 .item3:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
/* Mise en place des textes dans les blocs */

#Bloc-2 h2 {
    color: white;
    font-size:28px;
    margin-top: 15px;
}
#Bloc-2 h2:first-child {
    text-decoration: underline;
}
#Bloc-2 h3 {
    font-size:22px;
}
#Bloc-2 .item2 h3 {
    margin-top: -10px;
}
#Bloc-2 p{
    font-size: 14px;
    font-style: italic;
}
/* Bloc sponsors */

#Bloc-3 {
    background-color: white;
    padding-right:15px;
    padding-left:15px;
    display:block;
}
#Bloc-3 h2 {
    text-align:center;
    margin-top: 15px;
    padding-top:15px;
    font-size: 34px;
    font-style: italic;
    font-family: 'Satisfy', cursive;
}
.sponsors { 
    display:flex;
    justify-content: center;
    padding-left: 0px;
}
.sponsors-items {
    display:block;
    margin-right:15px;
    margin-left:15px;
}
.sponsors-items img {
    display:block;
    max-width: 175px;
    height:auto;
    max-height: 125px;
}

/* Mise à niveau (chipotage...) */

.sponsors-items .image-resize {
    padding-top:40px;
}
.sponsors-items .image-resize2 {
    padding-top: 10px;
}
.sponsors-items .image-resize3 {
    padding-top: 55px;
}
.sponsors-items .image-resize4 {
    padding-top:10px;
}
/* Animation en survol des images */
/* Départ en noir et blanc et arrivée en couleur */

.sponsors img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.sponsors li:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/* Bloc image avec citation*/

#Bloc-4 {
    height: 500px;
}
#Bloc-4 blockquote {
    position: absolute;
    width:250px;
    margin-left:500px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    text-decoration:none;
    color: #00a3e4;
}
#Bloc-4 blockquote footer {
    color: black;
}
#Bloc-4 img {
    height:500px;
    width:100%;
    border-top: solid 1px black;
}

/* Navigation bot*/

#nav-bot {
    background-color: #00a3e4;
    display:block;
    padding-bottom:0;
    font-family: 'Mansalva', cursive;
}
.menu-bot {
    display:flex;
    justify-content: center;
    margin-top:0;
    margin-bottom:0;
    height:50px;
}
.menu-bot a{
    color:white;
    display:block;
    font-size:22px;
    margin-left: 10px;
    margin-right:10px;
    margin-top:15px;
}
.menu-bot a:hover {
    color:#dd532f;
}

/* Animation des images et blocs texte trouvé sur https://www.web-eau.net/blog/15-effets-css3-pour-vos-images */



